{% extends 'base.html' %}

{% block content %}
    <div class="container mt-2">
        <h1 class="h1 mt-5 text-center">Ohms Law Calculations</h1>
        <hr>
        <div class="row">
            <div class="col-2 border border-2 border-round p-3 m-2 mx-auto">
                <h6 class="nav-title text-center">Select Type of Calculations</h6>
                <hr>
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav flex-column btn btn-outline-info m-1" href="{{ url_for('power') }}">Power</a>
                    <a class="nav flex-column btn btn-outline-info m-1" href="{{ url_for('current') }}">Current</a>
                    <a class="nav flex-column btn btn-outline-info m-1" href="{{ url_for('resistance') }}">Resistance</a>
                </div>
            </div>

            <div class="col-9 border border-2 border-round p-3 m-2 mx-auto">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-power" role="tabpanel" aria-labelledby="v-pills-power-tab">
                        {% block calc %} {% endblock calc %}
                    </div>
                </div>
            </div>
        </div>
        
    </div>
{% endblock content %}
